<!doctype html>
<html lang="en">
  <head
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <title>Mission To Mars</title>
  </head>
  <body>
        <div class="container">
            <h1>Mission To Mars</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Latest Mars News</h2>
                </div>
            </div>
          
            <div class="row">
                <div class="col-sm-8">
                    <h3>Featured Mars Image </h3>
                </div>
                
                <div class="col-sm-4">
                    <div class="col-sm-12">
                        <h4>Mars Facts</h4>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <h5>Mars Hemispheres</h5>
                </div>
            </div> 
            
            <br>
            <div class="row">
                <div class="col-sm-3">
                    
                </div>
                
                <div class="col-sm-3">
                       
                </div>  

                <div class="col-sm-3">
                
                        
                </div>
                    
                <div class="col-sm-3">
                        
                </div>  
            </div> 
    
        </div>
      </body>
    </html>